@charset "UTF-8";
/*!
Theme Name: theme CV
Author: Enza Lombardo
Version: 1.0
copyright : Enza ©2021
*/
:root {
  --font-family: "Muli", sans-serif;
  --light: #00c3ff;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --text-white: #fff;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd; }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(-35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.mb-5 {
  margin-bottom: 5rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.uppercase {
  text-transform: uppercase; }

section {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.block {
  margin-bottom: 5rem; }
  .block-item h3 {
    margin-bottom: 0;
    font-size: 1.4rem; }
  .block-item p {
    margin: 0 0 2rem 0;
    font-style: italic; }

button {
  background: var(--text);
  border: 0;
  cursor: pointer;
  transition: all 0.2s; }
  button:hover {
    opacity: 0.8; }
  button .postfix {
    background: linear-gradient(to right, var(--dark), var(--light));
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
  text-transform: uppercase; }

.text-primary {
  color: var(--primary); }
.text-hint {
  color: var(--hint); }

.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto; }
  @media (max-width: 480px) {
    .grid-container {
      grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

.stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  color: var(--hint); }
  .stars-container i {
    font-size: 2rem;
    margin: 0 1rem; }

.social-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer; }
  .social-container:hover {
    background: var(--border); }
    .social-container:hover i {
      color: var(--primary);
      transform: scale(1.3);
      transition: all 0.2s; }
  .social-container i {
    font-size: 2rem;
    flex: 0 0 50px;
    margin-right: 1rem; }
  .social-container p {
    flex: auto;
    margin: 0; }

.prefix {
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.picture {
  grid-area: picture;
  padding: 6rem;
  background: var(--background);
  border-right: 1px solid var(--border); }
  .picture img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; }

.bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--hint);
  position: relative; }
  .bar-skill-progress {
    position: absolute;
    height: 5px;
    top: 0;
    left: 0;
    background: var(--light); }
    .bar-skill-progress::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--dark);
      left: calc(100% - 5px);
      top: -2.5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg); }

.experience {
  display: flex;
  margin: 6rem 0; }
  .experience .timeline {
    text-align: center;
    color: var(--hint);
    padding-right: 2rem;
    border-right: 1px solid var(--border); }
    .experience .timeline p {
      margin: 0; }
  .experience .content {
    padding: 0 1rem; }
    .experience .content h3 {
      margin: 0; }
    .experience .content p {
      margin: 0; }
    .experience .content ul {
      margin: 2rem 0;
      list-style: circle;
      padding-left: 4rem; }

form {
  display: flex;
  align-items: center; }

input {
  outline: 0;
  border: 0;
  min-width: 400px;
  padding: 1rem 2rem;
  line-height: 2rem; }
  @media (max-width: 480px) {
    input {
      min-width: 200px; } }
  input::placeholder {
    color: var(--text); }

header {
  grid-area: header;
  padding: 8rem 5rem;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 480px) {
    header {
      padding: 5rem 2rem; } }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
    @media (max-width: 480px) {
      header h1 {
        font-size: 4rem; } }
  header p {
    letter-spacing: 0.5rem; }
  header span {
    display: inline-block;
    animation: bounce 2s;
    -webkit-animation: bounce 2s; }

main {
  grid-area: main;
  padding: 5rem; }
  @media (max-width: 480px) {
    main {
      padding: 5rem 1.5rem; } }
  main h2 {
    margin-bottom: 4rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem; }

footer {
  grid-area: footer;
  background: var(--text);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem; }
  @media (max-width: 480px) {
    footer {
      padding: 5rem 1.5rem; } }
  footer h2 {
    margin-bottom: 3rem; }

/*# sourceMappingURL=style.css.map */
