// main: ../_utilities.scss

:root {
  //font-family
  --font-family: "Muli", sans-serif;

  // colors
  --light: #00c3ff;
  // --light: #ff7979;
  --primary: #2071e7;
  // --primary: #e74c3c;
  --dark: #2980b9;
  // --dark: #c0392b;
  --text: #333;
  --text-white: #fff;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
