// main: _layout.scss

footer {
  grid-area: footer;
  background: var(--text);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  h2 {
    margin-bottom: 3rem;
  }
}
