// main: _layout.scss

header {
  grid-area: header;
  padding: 8rem 5rem;
  background: linear-gradient(to right, var(--primary), var(--light));
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 2rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 4rem;
    }
  }

  p {
    letter-spacing: 0.5rem;
  }
  span {
    display: inline-block;
    animation: bounce 2s;
    -webkit-animation: bounce 2s;
  }
}
