// main: _components.scss

.block {
  margin-bottom: 5rem;

  &-item {
    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }
  }
}
