// main: _elements.scss

button {
  background: var(--text);
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
  }
  .postfix {
    background: linear-gradient(to right, var(--dark), var(--light));
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
