// main: _elements.scss
.title {
  &-small {
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
  }
}

.text {
  &-primary {
    color: var(--primary);
  }
  &-hint {
    color: var(--hint);
  }
}
