// main: _elements.scss
.stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  color: var(--hint);
  i {
    font-size: 2rem;
    margin: 0 1rem;
  }
}

.social-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: var(--border);
    i {
      color: var(--primary);
      transform: scale(1.3);
      transition: all 0.2s;
    }
  }
  i {
    font-size: 2rem;
    flex: 0 0 50px;
    margin-right: 1rem;
  }
  p {
    flex: auto;
    margin: 0;
  }
}
.prefix {
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
