// main: _elements.scss

.bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--hint);
  position: relative;
  &-progress {
    position: absolute;
    height: 5px;
    top: 0;
    left: 0;
    // width: 90%;
    background: var(--light);
    &::after {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      background: var(--dark);
      left: calc(100% - 5px);
      top: -2.5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
    }
  }
  // &-dot {
  //   position: absolute;
  //   height: 10px;
  //   width: 10px;
  //   background: var(--dark);
  //   left: calc(90% - 5px);
  //   top: -2.5px;
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  //   -moz-transform: rotate(45deg);
  //   -ms-transform: rotate(45deg);
  //   -o-transform: rotate(45deg);
  // }
}
