// main: _elements.scss

.experience {
  display: flex;
  margin: 6rem 0;
  .timeline {
    text-align: center;
    color: var(--hint);
    padding-right: 2rem;
    border-right: 1px solid var(--border);
    p {
      margin: 0;
    }
  }
  .content {
    padding: 0 1rem;
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    ul {
      margin: 2rem 0;
      list-style: circle;
      padding-left: 4rem;
    }
  }
}
