// main: style.scss

form {
  display: flex;
  align-items: center;
}

input {
  outline: 0;
  border: 0;
  min-width: 400px;
  padding: 1rem 2rem;
  line-height: 2rem;
  @include xs {
    min-width: 200px;
  }
  &::placeholder {
    color: var(--text);
  }
}
